# IDEA spam
.idea
*.iml
*.ipr
*.iws

# Eclipse spam
.project
.classpath
.settings/

# Maven drippings
invoker-repo/
target/
dependency-reduced-pom.xml
*.backup
*.versionsBackup

# OS files
.DS_Store

# These were here when I got here, honest
*~
*.log
