# IDEA spam
.idea
*.iml
*.ipr
*.iws

# People still use Eclipse??
.project
.classpath
.settings/

# Maven drippings
invoker-repo/
target/
dependency-reduced-pom.xml
*.backup
*.versionsBackup

# These were here when I got here, honest
*~
*.log
