{namespace ${PACKAGE}}

/**
 * @param? config
 * @param? errors
 */
{template .view}
#foreach($FIELD in $FIELDS)
    {call aui.form.textField}
        {param id: '${FIELD}' /}
        {param value: $config ? $config['${FIELD}'] : null /}
        {param labelContent: '${FIELD}'  /}
        {param descriptionText: 'Some description for ${FIELD}' /}
        {param errorTexts: $errors ? $errors['${FIELD}'] : null /}
    {/call}
#end
{/template}
