Essential: no
Architecture: all
Description: Development kit to build Atlassian plugins
Provides: atlassian-plugin-sdk
Package: atlassian-plugin-sdk
Section: misc
Maintainer: Atlassian
Priority: optional
Version: DEBVERSION
Installed-Size: SIZE
Homepage: http://developer.atlassian.com
