{namespace myapp}

/**
 * Main layout which loads React app and all resources.
 */
{template .init}
    {webResourceManager_requireResourcesForContext('atlassian-frontend-bootstrap')}
    <html>
        <head>
            <title>{getText('app.title')}</title>
            <meta name="decorator" content="atl.admin"/>
        </head>
        <body>
            <div id="app-container"></div>
        </body>
    </html>
{/template}
