<scm-request-check
        name="${MODULE_NAME}"
        i18n-name-key="${NAME_I18N_KEY}"
        key="${MODULE_KEY}"
        class="${FQ_CLASSNAME}"
        weight="${WEIGHT}">

    <description key="${DESCRIPTION_I18N_KEY}">${DESCRIPTION}</description>
</scm-request-check>