{namespace $SOY_PACKAGE}

/**
* How-to-use page for the wizard.

## TODO - use the same layout as our bundled Blueprints. dT
*/
{template .howToUse}
<h2>{getText('$HEADING_I18N_KEY')}</h2>
<p>{getText('$CONTENT_I18N_KEY')}</p>
{/template}